<h1>My Bulk Discounts</h1>
<ol>
  <% @bulk_discounts.each do |discount| %>
    <div id="bulk_discount<%= discount.id %>">
      <li>Quantity Threshold: <%= discount.quantity_threshold %> Percent Off: <%= discount.percentage_discount %> <br>
      <%= link_to "Discount Show Page", merchant_bulk_discount_path(@merchant.id, discount.id)%> <br>
      <%= button_to "Delete", merchant_bulk_discount_path(@merchant.id, discount.id), method: :delete %>
    </div>
  <% end %>
</ol>
<%= link_to "Create New Bulk Discount", new_merchant_bulk_discount_path(@merchant.id) %>

<h3>Upcoming Holidays</h3>

<p><%= @holidays.holiday_names[0] %> on <%= @holidays.holiday_dates[0] %></p>
<p><%= @holidays.holiday_names[1] %> on <%= @holidays.holiday_dates[1] %></p>
<p><%= @holidays.holiday_names[2] %> on <%= @holidays.holiday_dates[2] %></p>